## 영업 수주 데이터 증식

In [132]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')


sales = pd.read_excel('./엑셀분리기본파일/영업수주기본.xlsx', header=1, )
sales.drop('Unnamed: 0',axis=1, inplace =True)

### 시멘트 국내 출하량

In [133]:
# 20년도 시멘트 국내 출하량 데이터 스크랩
sm_df_20 = pd.read_html('http://www.cement.or.kr/stati_2015/field_statistics_2020.asp?sm=2_3_0', header=0)
sm_df20=sm_df_20[0]
sm_df20=sm_df20[['월별','내수계']]
# 단위 : 천톤
sm_df20.drop([0,7,14], axis=0, inplace=True)
sm_df20.reset_index(drop=True, inplace=True)

In [134]:
## csv 파일                    
# sm_df20.to_csv('시멘트국내출하2020.csv')

In [135]:
# 21년도 시멘트 국내 출하량 데이터 스크랩
sm_df_21 = pd.read_html('http://www.cement.or.kr/stati_2015/field_statistics.asp?sm=2_3_0', header=0)
sm_df21=sm_df_21[0]
sm_df21=sm_df21[['월별','내수계']]
# 단위 : 천톤
sm_df21.drop([0,7,14], axis=0, inplace=True)
sm_df21.reset_index(drop=True, inplace=True)

In [136]:
## csv 파일  
# sm_df21.to_csv('시멘트국내출하2021.csv')

In [137]:
df_sale = sales[['거래처코드','제품코드','수주량','수주단가','수주금액','수주일자','납기일자']]

In [138]:

df_sale['수주일자'] = pd.to_datetime(df_sale['수주일자'])
df_sale['납기일자'] = pd.to_datetime(df_sale['납기일자'])

df_sale.head()

     거래처코드           제품코드    수주량  수주단가      수주금액       수주일자       납기일자
0  2001102  PEMA033101400  15000  1000  15000000 2021-02-22 2021-02-25
1  2001200  PEMA023098200  20000  1001  20020000 2021-02-22 2021-02-25
2  2001300   SSA073046500   2000  1002   2004000 2021-02-22 2021-02-25
3  2001400  PEMA043099800  10000  1003  10030000 2021-02-22 2021-02-25
4  2001500  PEMA013120000  10000  1004  10040000 2021-02-22 2021-02-25

In [139]:
df_sale

        거래처코드           제품코드    수주량  수주단가      수주금액       수주일자       납기일자
0     2001102  PEMA033101400  15000  1000  15000000 2021-02-22 2021-02-25
1     2001200  PEMA023098200  20000  1001  20020000 2021-02-22 2021-02-25
2     2001300   SSA073046500   2000  1002   2004000 2021-02-22 2021-02-25
3     2001400  PEMA043099800  10000  1003  10030000 2021-02-22 2021-02-25
4     2001500  PEMA013120000  10000  1004  10040000 2021-02-22 2021-02-25
...       ...            ...    ...   ...       ...        ...        ...
1714  2007400  PEMA043103800  10000  2714  27140000 2021-04-21 2021-04-24
1715  2007500  PEMA023122400   8000  2715  21720000 2021-04-21 2021-04-24
1716  2007600  PEMA353048300   7000  2716  19012000 2021-04-21 2021-04-24
1717  2007700  TSN4012011125  10000  2717  27170000 2021-04-21 2021-04-24
1718  2007800  PEMA013123000  10000  2718  27180000 2021-04-21 2021-04-24

[1719 rows x 7 columns]

In [140]:
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta

# 날짜 계산 함수(년, 월, 일)
def date_add(x, time, time_delta):
    if time == 'd':
        return x + relativedelta(days = time_delta)
    elif time == 'm':
        return x + relativedelta(months = time_delta)
    elif time == 'y':
        return x + relativedelta(years = time_delta)
    else:
        return x

In [141]:
# 1~3월 데이터
df_sale13 = df_sale.copy()

df_sale13['수주일자'] = df_sale13.apply(lambda x: date_add(x['수주일자'],'m',-1), axis=1)
df_sale13['납기일자'] = df_sale13.apply(lambda x: date_add(x['납기일자'],'m',-1), axis=1)

In [142]:
df_sale13['수주일자'] = df_sale13.apply(lambda x: date_add(x['수주일자'],'d',-21), axis=1)
df_sale13['납기일자'] = df_sale13.apply(lambda x: date_add(x['납기일자'],'d',-21), axis=1)

df_sale13.head()

     거래처코드           제품코드    수주량  수주단가      수주금액       수주일자       납기일자
0  2001102  PEMA033101400  15000  1000  15000000 2021-01-01 2021-01-04
1  2001200  PEMA023098200  20000  1001  20020000 2021-01-01 2021-01-04
2  2001300   SSA073046500   2000  1002   2004000 2021-01-01 2021-01-04
3  2001400  PEMA043099800  10000  1003  10030000 2021-01-01 2021-01-04
4  2001500  PEMA013120000  10000  1004  10040000 2021-01-01 2021-01-04

In [143]:
df_sale13=df_sale13[df_sale13['수주일자'] < '2021-02-22']

In [144]:
# 4~6월 데이터
df_sale46 = df_sale.copy()

df_sale46['수주일자'] = df_sale46.apply(lambda x: date_add(x['수주일자'],'m',2), axis=1)
df_sale46['납기일자'] = df_sale46.apply(lambda x: date_add(x['납기일자'],'m',2), axis=1)

df_sale46.head()

     거래처코드           제품코드    수주량  수주단가      수주금액       수주일자       납기일자
0  2001102  PEMA033101400  15000  1000  15000000 2021-04-22 2021-04-25
1  2001200  PEMA023098200  20000  1001  20020000 2021-04-22 2021-04-25
2  2001300   SSA073046500   2000  1002   2004000 2021-04-22 2021-04-25
3  2001400  PEMA043099800  10000  1003  10030000 2021-04-22 2021-04-25
4  2001500  PEMA013120000  10000  1004  10040000 2021-04-22 2021-04-25

In [145]:
# 6월~8월 데이터
df_sale68 = df_sale46.copy()

df_sale68['수주일자'] = df_sale68.apply(lambda x: date_add(x['수주일자'],'m',2), axis=1)
df_sale68['납기일자'] = df_sale68.apply(lambda x: date_add(x['납기일자'],'m',2), axis=1)

df_sale68.head()

     거래처코드           제품코드    수주량  수주단가      수주금액       수주일자       납기일자
0  2001102  PEMA033101400  15000  1000  15000000 2021-06-22 2021-06-25
1  2001200  PEMA023098200  20000  1001  20020000 2021-06-22 2021-06-25
2  2001300   SSA073046500   2000  1002   2004000 2021-06-22 2021-06-25
3  2001400  PEMA043099800  10000  1003  10030000 2021-06-22 2021-06-25
4  2001500  PEMA013120000  10000  1004  10040000 2021-06-22 2021-06-25

In [146]:
# 8월~10월 데이터
df_sale810 = df_sale68.copy()

df_sale810['수주일자'] = df_sale810.apply(lambda x: date_add(x['수주일자'],'m',2), axis=1)
df_sale810['납기일자'] = df_sale810.apply(lambda x: date_add(x['납기일자'],'m',2), axis=1)

df_sale810.head()

     거래처코드           제품코드    수주량  수주단가      수주금액       수주일자       납기일자
0  2001102  PEMA033101400  15000  1000  15000000 2021-08-22 2021-08-25
1  2001200  PEMA023098200  20000  1001  20020000 2021-08-22 2021-08-25
2  2001300   SSA073046500   2000  1002   2004000 2021-08-22 2021-08-25
3  2001400  PEMA043099800  10000  1003  10030000 2021-08-22 2021-08-25
4  2001500  PEMA013120000  10000  1004  10040000 2021-08-22 2021-08-25

In [147]:
# 10월~12월 데이터
df_sale1012 = df_sale810.copy()

df_sale1012['수주일자'] = df_sale1012.apply(lambda x: date_add(x['수주일자'],'m',2), axis=1)
df_sale1012['납기일자'] = df_sale1012.apply(lambda x: date_add(x['납기일자'],'m',2), axis=1)

df_sale1012.head()

     거래처코드           제품코드    수주량  수주단가      수주금액       수주일자       납기일자
0  2001102  PEMA033101400  15000  1000  15000000 2021-10-22 2021-10-25
1  2001200  PEMA023098200  20000  1001  20020000 2021-10-22 2021-10-25
2  2001300   SSA073046500   2000  1002   2004000 2021-10-22 2021-10-25
3  2001400  PEMA043099800  10000  1003  10030000 2021-10-22 2021-10-25
4  2001500  PEMA013120000  10000  1004  10040000 2021-10-22 2021-10-25

In [148]:
df_sale1012.tail()

        거래처코드           제품코드    수주량  수주단가      수주금액       수주일자       납기일자
1714  2007400  PEMA043103800  10000  2714  27140000 2021-12-21 2021-12-24
1715  2007500  PEMA023122400   8000  2715  21720000 2021-12-21 2021-12-24
1716  2007600  PEMA353048300   7000  2716  19012000 2021-12-21 2021-12-24
1717  2007700  TSN4012011125  10000  2717  27170000 2021-12-21 2021-12-24
1718  2007800  PEMA013123000  10000  2718  27180000 2021-12-21 2021-12-24

In [149]:
df_sale1012_1 = df_sale1012.copy()

df_sale1012_1['수주일자'] = df_sale1012_1.apply(lambda x: date_add(x['수주일자'],'d',10), axis=1)
df_sale1012_1['납기일자'] = df_sale1012_1.apply(lambda x: date_add(x['납기일자'],'d',10), axis=1)

df_sale1012_1.head(10)

     거래처코드           제품코드    수주량  수주단가      수주금액       수주일자       납기일자
0  2001102  PEMA033101400  15000  1000  15000000 2021-11-01 2021-11-04
1  2001200  PEMA023098200  20000  1001  20020000 2021-11-01 2021-11-04
2  2001300   SSA073046500   2000  1002   2004000 2021-11-01 2021-11-04
3  2001400  PEMA043099800  10000  1003  10030000 2021-11-01 2021-11-04
4  2001500  PEMA013120000  10000  1004  10040000 2021-11-01 2021-11-04
5  2001600  PEMA013085300  10000  1005  10050000 2021-11-01 2021-11-04
6  2001700  PEMA023100800  10000  1006  10060000 2021-11-01 2021-11-04
7  2001800  PEMA023100800  10000  1007  10070000 2021-11-01 2021-11-04
8  2002000  PEMA013131100  10000  1008  10080000 2021-11-01 2021-11-04
9  2002100  PEMA013000210   7000  1009   7063000 2021-11-01 2021-11-04

In [150]:
df_sale1012_1=df_sale1012_1[df_sale1012_1['수주일자'] > '2021-12-21']

In [151]:
from functools import reduce

df_list = [df_sale13,df_sale,df_sale46,df_sale68,df_sale810,df_sale1012,df_sale1012_1]

df_2021=reduce(lambda x,y : pd.concat([x,y]),df_list)

In [152]:

df_2020 = df_2021.copy()

df_2020['수주일자'] = df_2020.apply(lambda x: date_add(x['수주일자'],'y',-1), axis=1)
df_2020['납기일자'] = df_2020.apply(lambda x: date_add(x['납기일자'],'y',-1), axis=1)

df_2020

        거래처코드           제품코드    수주량  수주단가      수주금액       수주일자       납기일자
0     2001102  PEMA033101400  15000  1000  15000000 2020-01-01 2020-01-04
1     2001200  PEMA023098200  20000  1001  20020000 2020-01-01 2020-01-04
2     2001300   SSA073046500   2000  1002   2004000 2020-01-01 2020-01-04
3     2001400  PEMA043099800  10000  1003  10030000 2020-01-01 2020-01-04
4     2001500  PEMA013120000  10000  1004  10040000 2020-01-01 2020-01-04
...       ...            ...    ...   ...       ...        ...        ...
1714  2007400  PEMA043103800  10000  2714  27140000 2020-12-31 2021-01-03
1715  2007500  PEMA023122400   8000  2715  21720000 2020-12-31 2021-01-03
1716  2007600  PEMA353048300   7000  2716  19012000 2020-12-31 2021-01-03
1717  2007700  TSN4012011125  10000  2717  27170000 2020-12-31 2021-01-03
1718  2007800  PEMA013123000  10000  2718  27180000 2020-12-31 2021-01-03

[10434 rows x 7 columns]

In [155]:
# # csv 파일
# df_2021.to_csv('영업수주_2021_1년.csv')

In [156]:
# # csv 파일
# df_2020.to_csv('영업수주_2020_1년.csv')

### 21년도 증식 데이터 편집

In [1]:
import pandas as pd

sale_df21 = pd.read_csv('./영업수주_2021_1년.csv', index_col=0)
sale_df20 = pd.read_csv('./영업수주_2020_1년.csv', index_col=0)
add_mi = pd.read_csv('./시멘트2년 국내출하(월별증감율).csv')
# sale_df21

In [8]:
productnm = pd.read_csv('./제품명(수정).csv')
productnm=productnm[['제품코드','제품명']]

In [9]:
sale_df21 = pd.merge(sale_df21,productnm, on='제품코드', how='outer')

In [10]:
# 계절 별로 데이터 분리

sale_winter=sale_df21[(sale_df21['수주일자'] >= '2021-01-01')&(sale_df21['수주일자'] < '2021-03-01')|(sale_df21['수주일자'] >= '2021-12-01')&(sale_df21['수주일자'] < '2022-01-01')]
sale_spring=sale_df21[(sale_df21['수주일자'] >= '2021-03-01')&(sale_df21['수주일자'] < '2021-06-01')]
sale_summer=sale_df21[(sale_df21['수주일자'] >= '2021-06-01')&(sale_df21['수주일자'] < '2021-09-01')]
sale_fall=sale_df21[(sale_df21['수주일자'] >= '2021-09-01')&(sale_df21['수주일자'] < '2021-12-01')]


### 증식 데이터 시멘트 출하량 비율에 맞게 조정(21년도)

In [2]:
add_21=add_mi.iloc[12:]
add_21=add_21[['월','내수계']]

In [3]:
add_21['월'] = add_21['월'] -12

In [4]:
# 시멘트 출하량 계절별 도출
winter=add_21[(add_21['월']== 1)|(add_21['월']== 2)|(add_21['월']== 12)]['내수계'].sum()
spring=add_21[(add_21['월']== 3)|(add_21['월']== 4)|(add_21['월']== 5)]['내수계'].sum()
summer=add_21[(add_21['월']== 6)|(add_21['월']== 7)|(add_21['월']== 8)]['내수계'].sum()
fall=add_21[(add_21['월']== 9)|(add_21['월']== 10)|(add_21['월']== 11)]['내수계'].sum()

In [5]:
print(spring)
print(summer)
print(fall)
print(winter)

13921
12104
12856
10483

In [11]:
# 계절 별 외부 데이터 다시 원본 데이터와 맞춤
p=len(sale_spring)/spring

In [12]:
spring = round(spring*p)
summer=round(summer*p)
fall = round(fall*p)
winter = round(winter*p)

In [13]:
print(spring)
print(summer)
print(fall)
print(winter)

2626
2283
2425
1977

In [14]:
# 증식된 데이터 날짜 별 하나 씩 없애기
# 제품 건수는 2개 이상 살리기
# 원본이 포함된 sale_spring은 건들지 않음

# 겨울 차이 673
import warnings
warnings.filterwarnings('ignore')

li=[]         
for i,p in zip(list(sale_winter['수주일자'].unique()), list(sale_winter['제품명'].unique())):
    k = sale_winter[sale_winter['수주일자'] == i].index
    pro = sale_winter[sale_winter['제품명'] == p]
    if len(pro) > 2:
        j=list(k[0:30])
        li.append(j)
            
            
li2=[]
for i in li:
    for j in i:
        li2.append(j)
len(li2)

662

In [15]:
sale_winter.drop(li2, inplace=True)

In [16]:
# 여름 차이 248
li=[]         
for i,p in zip(list(sale_summer['수주일자'].unique()), list(sale_summer['제품명'].unique())):
    k = sale_summer[sale_summer['수주일자'] == i].index
    pro = sale_summer[sale_summer['제품명'] == p]
    if len(pro) > 4:
        j=list(k[0:13])
        li.append(j)
            
            
li2=[]
for i in li:
    for j in i:
        li2.append(j)
len(li2)

234

In [17]:
sale_summer.drop(li2, inplace=True)

In [18]:
# 가을 차이 201
li=[]         
for i,p in zip(list(sale_fall['수주일자'].unique()), list(sale_fall['제품명'].unique())):
    k = sale_fall[sale_fall['수주일자'] == i].index
    pro = sale_fall[sale_fall['제품명'] == p]
    if len(pro) > 4:
        j=list(k[0:10])
        li.append(j)
            
            
li2=[]
for i in li:
    for j in i:
        li2.append(j)
len(li2)

200

In [19]:
sale_fall.drop(li2, inplace=True)

In [20]:
from functools import reduce

df_list = [sale_winter,sale_spring,sale_summer,sale_fall]

df_2021=reduce(lambda x,y : pd.concat([x,y]),df_list)

In [21]:
# # csv 파일
# df_2021.to_csv('2021년_증식데이터_편집.csv')

### 20년도 데이터 증식 편집

In [23]:
sale_df20 = pd.merge(sale_df20,productnm, on='제품코드', how='outer')

In [24]:
sale_winter_20=sale_df20[(sale_df20['수주일자'] >= '2020-01-01')&(sale_df20['수주일자'] < '2020-03-01')|(sale_df20['수주일자'] >= '2020-12-01')&(sale_df20['수주일자'] < '2021-01-01')]
sale_spring_20=sale_df20[(sale_df20['수주일자'] >= '2020-03-01')&(sale_df20['수주일자'] < '2020-06-01')]
sale_summer_20=sale_df20[(sale_df20['수주일자'] >= '2020-06-01')&(sale_df20['수주일자'] < '2020-09-01')]
sale_fall_20=sale_df20[(sale_df20['수주일자'] >= '2020-09-01')&(sale_df20['수주일자'] < '2020-12-01')]

### 증식 데이터 시멘트 출하량 비율에 맞게 조정(20년도)

In [25]:
add_20=add_mi.iloc[:12]

In [26]:
add_20=add_20[['월','내수계']]

In [27]:
# 시멘트 출하량 계절별 도출
winter=add_20[(add_20['월']== 1)|(add_20['월']== 2)|(add_20['월']== 12)]['내수계'].sum()
spring=add_20[(add_20['월']== 3)|(add_20['월']== 4)|(add_20['월']== 5)]['내수계'].sum()
summer=add_20[(add_20['월']== 6)|(add_20['월']== 7)|(add_20['월']== 8)]['내수계'].sum()
fall=add_20[(add_20['월']== 9)|(add_20['월']== 10)|(add_20['월']== 11)]['내수계'].sum()

In [28]:
# 계절 별 외부 데이터 다시 원본 데이터와 맞춤
p=len(sale_spring_20)/spring

In [29]:
spring = round(spring*p)
summer=round(summer*p)
fall = round(fall*p)
winter = round(winter*p)

In [30]:
print('2020 겨울 외부 원본 차이 : ', len(sale_winter_20) - winter)

2020 겨울 외부 원본 차이 :  609

In [31]:
# 증식된 데이터 날짜 별 하나 씩 없애기
# 제품 건수는 2개 이상 살리기
# 원본이 포함된 sale_spring은 건들지 않음

import warnings
warnings.filterwarnings('ignore')

li=[]         
for i,p in zip(list(sale_winter_20['수주일자'].unique()), list(sale_winter_20['제품명'].unique())):
    k = sale_winter_20[sale_winter_20['수주일자'] == i].index
    pro = sale_winter_20[sale_winter_20['제품명'] == p]
    if len(pro) > 2:
        j=list(k[0:27])
        li.append(j)
            
            
li2=[]
for i in li:
    for j in i:
        li2.append(j)
len(li2)

599

In [32]:
# 수주 데이터 편집
sale_winter_20.drop(li2, inplace=True)

In [33]:
print('2020 여름 외부 원본 차이 : ', len(sale_summer_20) - summer)

2020 여름 외부 원본 차이 :  356

In [34]:
# 증식된 데이터 날짜 별 하나 씩 없애기
# 제품 건수는 2개 이상 살리기
# 원본이 포함된 sale_spring은 건들지 않음

import warnings
warnings.filterwarnings('ignore')

li=[]         
for i,p in zip(list(sale_summer_20['수주일자'].unique()), list(sale_summer_20['제품명'].unique())):
    k = sale_summer_20[sale_summer_20['수주일자'] == i].index
    pro = sale_summer_20[sale_summer_20['제품명'] == p]
    if len(pro) > 4:
        j=list(k[0:20])
        li.append(j)
            
            
li2=[]
for i in li:
    for j in i:
        li2.append(j)
len(li2)

352

In [35]:
sale_summer_20.drop(li2, inplace=True)

In [36]:
# 증식된 데이터 날짜 별 하나 씩 없애기
# 제품 건수는 2개 이상 살리기
# 원본이 포함된 sale_spring은 건들지 않음
# k(날짜 별 데이터프레임)
# pro(제품별 데이터 프레임)
# 두 개의 갯수를 조정해서 리스트를 만듦
# k의 경우 인덱스를 가져와서 임의로 인덱싱함
# pro의 경우 각 제품별 데이터 프레임의 최소 갯수를 임의로 정해줌


import warnings
warnings.filterwarnings('ignore')

li=[]         
for i,p in zip(list(sale_fall_20['수주일자'].unique()), list(sale_fall_20['제품명'].unique())):
    k = sale_fall_20[sale_fall_20['수주일자'] == i].index
    pro = sale_fall_20[sale_fall_20['제품명'] == p]
    if len(pro) > 2:
        j=list(k[0:1])
        li.append(j)
            
            
li2=[]
for i in li:
    for j in i:
        li2.append(j)
len(li2)

22

In [37]:
sale_fall_20.drop(li2, inplace=True)

In [38]:
# 데이터 다시 합치기

from functools import reduce

df_list = [sale_winter_20,sale_spring_20,sale_summer_20,sale_fall_20]

df_2020=reduce(lambda x,y : pd.concat([x,y]),df_list)

In [39]:
# csv 파일
# df_2020.to_csv('2020년_증식데이터_편집.csv')

- 증식된 데이터 날짜 별 하나 씩 없애기
- 제품 건수 살리기
- 원본이 포함된 sale_spring은 건들지 않음
- k(날짜 별 데이터프레임)
- pro(제품별 데이터 프레임)
- 두 개의 갯수를 조정해서 리스트를 만듦
- k의 경우 인덱스를 가져와서 임의로 인덱싱함
- pro의 경우 각 제품별 데이터 프레임의 최소 갯수를 임의로 정해줌